- content_for(:title) do
  = t :shops_signup_title

#panes
  #shops-signup.pane
    .row.header
      .small-12.medium-12.columns.text-center
        %h2
          = t :shops_signup_headline
    .row.content
      .small-12.medium-6.medium-offset-3.columns.text-center
        %p.text-big
          = t :shops_signup_motivation
        %br
        %a.button.transparent{href: "/register"}
          = t :shops_signup_action
  %br
  %br
  .row#cta
    .pane
      .small-12.medium-5.medium-offset-1.columns.text-center.panel-default.panel
        %h2
          = t :shops_signup_pricing
        -# %p.text-big
        -#   If there is a time-sensitive offer you can write it here, e.g.
        -#   Sign up before 30th June for an extra month free!
        %br
        = ContentConfig.hub_signup_pricing_table_html.html_safe

  
  
    .pane
      .small-12.medium-5.medium-offset-1.columns.text-center.panel-default.panel
        %h2.text-center
          = t :shops_signup_detail
        = ContentConfig.hub_signup_detail_html.html_safe
  .row
    %br        
  .row
    .pane
      .small-12.medium-5.medium-offset-1.columns.text-center.panel-default.panel
        %h2.text-center
          = t :shops_signup_help
        %p.text-big
          = t :shops_signup_help_text
    .pane
      .small-12.medium-5.medium-offset-1.columns.text-center.panel-default.panel
        %h2.text-center
          = t :shops_signup_stories
        = ContentConfig.hub_signup_case_studies_html.html_safe
  .row
        
= render partial: "shared/footer"
