#system.pane
  .row
    .small-12.medium-12.large.text-center
      %h3
        = t :brandstory_extra_strong
      .row
        .small-12.medium-3.columns.text-left
          .home-icon-box
            %a.community{href: "/shops"}
          .home-icon-box-bottom
            %h4
              = t :brandstory_part1_strong
            %p.text-normal
              = t :brandstory_part1        
        .small-12.medium-3.columns.text-left
          .home-icon-box
            %a.quality_food{href: "/shops"}
          .home-icon-box-bottom
            %h4
              = t :brandstory_part2_strong
            %p.text-normal
              = t :brandstory_part2
        .small-12.medium-3.columns.text-left
          .home-icon-box
            %a.get_noticed{href: "/shops"}
          .home-icon-box-bottom
            %h4
              = t :brandstory_part3_strong
            %p.text-normal
              = t :brandstory_part3
        .small-12.medium-3.columns.text-left
          .home-icon-box
            %a.food_insecurity{href: "/shops"}
          .home-icon-box-bottom
            %h4
              = t :brandstory_part4_strong
            %p.text-normal
              = t :brandstory_part4
            